@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply block text-[2rem] mt-2 mb-4 font-bold;
    }

    h2 {
        @apply block text-[1.70rem] mt-2 mb-3 font-bold;
    }

    h3 {
        @apply block text-[1.40rem] mt-2 mb-3 font-bold;
    }

    h4 {
        @apply block text-[1.30rem] mt-2 mb-3 font-bold;
    }

    h5 {
        @apply block text-[1.20rem] mt-2 mb-2 font-bold;
    }

    h6 {
        @apply block text-[1.10rem] mt-1 mb-2 font-bold;
    }

    .hljs {
        @apply rounded-none;
    }

    code {
        @apply bg-gray-700 dark:bg-gray-800 rounded py-0.5 px-1 text-white;
    }

    blockquote {
        @apply bg-gray-50 dark:bg-gray-500 border-l-[10px] border-gray-300 dark:border-gray-600 my-6 mx-2.5 py-4 px-2.5;
    }

    ol {
        list-style-type: decimal;
        padding-left: 1.5em;
    }

    ul {
        list-style: disc;
        padding-left: 1.5em;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top-width: 0px;
        border-top-style: none;
        border-top-color: currentcolor;
        border-top: 1px solid rgba(0, 0, 0, .1);
        box-sizing: content-box;
        height: 0;
        overflow: visible;
    }

    a {
        color: blue;
        text-decoration: underline;
    }

    body * {
        @apply transition-colors duration-200;
    }

    td {
        @apply border border-gray-300 dark:border-gray-500;
    }

    th {
        @apply bg-gray-200 dark:bg-gray-600 border border-gray-300 dark:border-gray-500;
    }

    table {
        @apply my-2;
    }
}